/*stile base da eliminare per i vari componenti */
h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: blue;
}

.container {
    gap: 20px;

    .card {
        width: 20%;
        height: 50%;

        flex-basis: calc(100% / 5 - 20px);


        &:nth-child(even) {
            background-color: rgb(215, 87, 87);
        }

        &:nth-child(odd) {
            background-color: rgb(75, 75, 225);
        }

        h4,
        span,
        p{
            color: white;
        }

    }
}
